/* REGLAS GENERALES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Righteous', cursive;
}

body {
    background-image: linear-gradient(0deg, #3f8986 0, #285868 25%, #1b3b44 50%, #0c1f29 75%, #000f16 100%);
    color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* REGLAS DEL JUEGO */

.game-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#game {
    border: 8px inset #d1ede7;
    border-radius: 8px;
    background-image: url('./assets/espacio-exterior.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* BUTTONS STYLES */

.btns-container {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 60%;
    min-width: 355px;
    max-width: 655px;
    height: 10%;
}

.btn {
    width: 25%;
    height: 100%;
    background-image: url('./assets/flecha-correcta.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.btn_up {
    transform: rotate(-90deg);
}

.btn_left {
    transform: rotate(180deg);
}

.btn_down {
    transform: rotate(90deg);
}

/* MESSAGES STYLES */

.messages {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 20px;
    place-items: center;
    width: 75%;
    max-width: 340px;
    height: 10%;
}

.messages .text-container {
    width: 100%;
    height: 100%;
}

.text-container > p {
    font-size: 1.4rem;
    font-weight: lighter;
    letter-spacing: 1.5px;
    text-align: start;
}

.messages .rstBtn-container {
    width: 100%;
    height: 100%;
}

.messages .rstBtn-container #reset_btn {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    border: 2px white solid;
    text-align: center;
    padding: 15px;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
}


/* REGLAS START SECTION */

.start-container {
    width: 100%;
    height: 100%;
    font-size: 2.4rem;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    background-image: url('./assets/espacio-exterior.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.start-card {
    min-width: 280px;
    width: 90vw;
    height: 90vh;
    border: #0e4459 solid 2px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, #7a4260 0%, #56334e 25%, #3a273d 50%, #271e30 75%, #191726 100%);
}

.start-card section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
}

.start-card .title1 {
    -webkit-text-stroke: 0.1rem white;
    color: transparent;
    letter-spacing: 10px;
}

.start-card .title2 {

    letter-spacing: 4px;
    font-size: 2.2rem;
}

.start-card section p {
    text-align: center;
}

.start-card section .rules li {
    list-style: none;
    margin: 12px 0px;
}

.start-card .start-game {
    padding: 20px;
}

.game-over__container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    color: black;
}

.game-over_title {
    color: black;
}

.game-win__container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    color: black;
}

.game-win__title {
    color: black;
}

.inactive {
    display: none;
}

@media (max-width: 440px) {

}